<html>
<head>
	<title>Task Room </title>
	<script>
	function createTaskClient(){
		var xmlHttp = new XMLHttpRequest();
		var title = document.getElementById("newtask").value;
		var authour = "{{ username }}";
		var room_id = "{{ room_id }}";
		var urlval = "/create-task/" + room_id + "/" + title + "/" + authour;
		xmlHttp.onreadystatechange = function() {
			if(this.readyState == 4 && this.status==200){
				window.location.reload();
			}
		}
		xmlHttp.open("GET", urlval , true); // true for asynchronous 
		xmlHttp.send();
        }   
        function startTaskClient(title){
                var xmlHttp = new XMLHttpRequest();
                var authour = "{{ username }}";
                var room_id = "{{ room_id }}";
                var urlval = "/start_task/" + room_id + "/" + title + "/" + authour;
                xmlHttp.onreadystatechange = function() {
                        if(this.readyState == 4 && this.status==200){
                                window.location.reload();
                        }
                }
                xmlHttp.open("GET", urlval , true); // true for asynchronous
                xmlHttp.send();
        }
        function finishTaskClient(title){
                var xmlHttp = new XMLHttpRequest();
                var authour = "{{ username }}";
                var room_id = "{{ room_id }}";
                var urlval = "/finish_task/" + room_id + "/" + title + "/" + authour;
                xmlHttp.onreadystatechange = function() {
                        if(this.readyState == 4 && this.status==200){
                                window.location.reload();
                        }
                }
                xmlHttp.open("GET", urlval , true); // true for asynchronous
                xmlHttp.send();
        }


	</script>
	<style>
		table, th, td {
			border: 1px solid black;
		}
	</style>
</head>
<body>
	<h1>Group Tasks for: {{ room_id }}</h1>
	<p>Welcome {{ username }}</p>
	<p>Add your friends with: <a href="http://127.0.0.1:8000/lobby/{{ room_id }}">http://127.0.0.1:8000/lobby/{{ room_id }}</a></p>
	<table>
		<tr>
			<th>Task</th>
			<th>Created By</th>
			<th>Created at</th>
			<th>Started By</th>
			<th>Started At</th>
			<th>Finished By</th>
			<th>Finished At</th>
		</tr>
		
		{% for task in tasks -%}
			<tr>
			<td>{{ task[0] }}</td>
			<td>{{ task[1] }}</td>
			<td>{{ task[2] }}</td>

			{% if task[3]|length == 0 %}
			<td><button type = "button" onclick = "startTaskClient('{{ task[0] }}') " >Start</button></td>
			<td></td>
			{% else %}
                        <td>{{ task[3] }}</td>
			<td>{{ task[4] }}</td> 
                        {% endif %}

			{% if task[5]|length == 0 and task[3]|length != 0 %}
			<td><button type = "button" onclick = "finishTaskClient('{{ task[0] }}')" >Finish</button></td>
			<td></td>
			{% else %}
			<td>{{ task[5] }}</td>
			<td>{{ task[6] }}</td>
			{% endif %}
			</tr>
		{% endfor %}
	</table>
	<h2>Create New Task</h2>
	New Task:
	<input type="text" id = "newtask"></input>
	<button type = "button" onclick = "createTaskClient()">Submit</button>
</body>
</html>

